h2 {
	padding: 20px;
	font-size: 0.9em;
	font-style: arial;
	vertical-align: top;
	color: gray;
}
h3 {
	padding: 20px;
	font-size: 0.9em;
	font-weight: bold;
}

th {
	padding: 20px;
	font-size: 23px;
	font-family: arial;
	vertical-align: top;
	color: white;
}

p.description {
	font-size: 0.9em;
	text-align: justify;
	color: black;
}

table.table1 {
	background-color: white;
	width: 85%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	border: 2px gray solid; 
	padding: 2px;
}

table.table2 {
	background-color: darkblue;
	width: 80%;
	height: 100px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto; 
	border-radius: 10px;
}
	
body {
	background-color: lightgreen;
}

.image  img {
		
		width: 80%;
	    margin: 0 auto;
	    display: block;
}

table td.first-column  img {
		width: 90%;
		padding: 20px;
}
table td.second-column {
		width: 65%;
		padding: 20px;
}